body {
	background-image: url("../images/background.png"), url("../images/background2.png");
	background-repeat: no-repeat, repeat;
	background-attachment: fixed;
	background-size: 870px, 100px;
	background-position: fixed;
	background-position: 80px 10px;
	font-size: 30px;
}

@media screen and (min-width: 1340px) {
	body {
		background-image: url("../images/background.png"), url("../images/background2.png");
		background-repeat: no-repeat, repeat;
		background-attachment: fixed;
		background-size: 1000px, 100px;
		background-position: fixed;
		background-position: 120px 30px;
		font-size: 30px;
	}

	.sounds {
		display: block;
		height: 100%;
		width: 100%;
		top: 120px;
		left: 180px;
		text-align: center;
		position: fixed;
	}

}


.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
	padding: 7px 35px;
  margin: 0px 10px 10px 0px;
  float: left;
	border-radius: 10px;
	/*font-family: 'Pacifico';*/
	font-size: 20px;
	color: #FFF;
	text-decoration: none;	
}

.blue
{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: white;
}

a:visited{
	text-decoration: none;
	color: white;
}